#header {
    background-color: transparent;
    width: 100%;
}

#masthead {
    max-height: 85vh;
    width: 100%;
    transition: background-color 0.2s ease;
    animation: fadeIn 3s;
}

#masthead_video {
    width: 100%;
    max-height: 100%;
}


#mainNav {
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
    background-color: transparent;
    z-index: 2;
}

#mainNav.navbar-shrink {
    background-color: var(--bg-color-header-footer);
}


.item-link-info:hover {
    color: var(--color-highlight);
}


.logo_header {
    height: 60px;
}

.navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: var(--text-color-menu-item);
}

.navbar-brand:hover {
    color: var(--color-highlight);
}

.navbar-brand i span {
    background-color: var(--text-color-default);
    color: #6c757d;
}

.navbar-brand:hover i span {
    background-color: var(--color-highlight);
    color: var(--text-color-default)
}

.nav-item {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 0;
    position: relative;
}

.nav-item:hover {
    color: var(--color-highlight);
}

.nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-highlight);
    transition: width 0.5s;
}


.nav-item:hover::before {
    width: 100%;
}

#mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

#nav-pc {
    background-color: transparent;
}
#nav-pc:hover {
    background-color: var(--bg-color-header-footer);
}

.animate-fadeIn {
    animation: fadeIn 1s;
}

#nav-mobile {
    display: none;
}

#nav-mobile>.container-xxl {
    background-color: var(--bg-color-header-footer);
}

/*hiện dần*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media (max-width: 992px) {
    #nav-pc {
        display: none;
    }

    #nav-mobile {
        display: block;
        background-color: var(--bg-color-header-footer);
        color: var(--text-color-default)
    }

    #btnShowMenu {
        color: var(--text-color-default);
    }

    #btnShowMenu:hover {
        color: var(--color-highlight);
    }

    #nav-mobile>.container-xxl>a>img {
        height: 35px;
    }

    #masthead {
        margin-top: 55.5px;
    }

    #menu_mobile .card {
        background-color: var(--bg-color-header-footer);
        height: 100%;
        padding-top: 0;
    }


    #ul-menu-mobile {
        font-size: 25px;
        padding: 0;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
    }

    #ul-menu-mobile li {
        margin-top: 7px;
        margin-bottom: 7px;
    }


}