.modal-content{
    background-color: var(--bg-color-main);
}

.btn_close_modal{
    color: var(--text-color-menu-item);
}

.btn_close_modal:hover{
    color: var(--color-highlight);
}

.btn-footer_modal {
    color: var(--color-highlight);
    background-color: var(--bg-color-header-footer);
    font-weight: 600;
    font-size: 16px;
    width: 12em;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.btn-footer_modal span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--color-highlight);
    transform: translateY(150%);
    border-radius: 20%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn-footer_modal:hover {
    color: black;
}

.btn-footer_modal:hover span {
    transform: translateY(0) scale(2);
}

.btn-footer_modal span:nth-child(1) {
    --n: 1;
}

.btn-footer_modal span:nth-child(2) {
    --n: 2;
}

.btn-footer_modal span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}


.modal-dialog-header{
    width: 450px;
}


@media (max-width: 992px) { 
    .modal-dialog-header{
        width: 100%;
    }
    
 }