#header{
    background-color: transparent;
    transition: background-color 0.2s ease;
    height: 100vh;
    width: 100%;
    animation: fadeIn 3s;
}
#masthead{
    height: 100%;
    width: 100%;
}
#mainNav {
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
    background-color: transparent;
    z-index: 2;
}
#mainNav.navbar-shrink {
    background-color: var(--bg-color-header-footer);
}
.logo_header{
    height: 60px;
}
#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: var(--text-color-menu-item);
}

.navbar-brand {
    color: rgba(255, 255, 255, 0.7);
}

.navbar-brand:hover {
    color: #fff;
}

.nav-item {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 0;
    position: relative;
}

.nav-item:hover {
    color: #fff;
}
.nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: width 0.5s;
  }
  
  .nav-item:hover::before {
    width: 100%;
  }

#mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

#mainNav.navbar-shrink .navbar-brand {
    color: var(--text-color-menu-item);
}
#nav-pc:hover {
    background-color: var(--bg-color-header-footer);
}

.animate-fadeIn{
    animation: fadeIn 1s;
}
#nav-mobile{
    display: none;
}
#nav-mobile > .container-xxl{
    background-color: var(--bg-color-header-footer);
}
/*hiện dần*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media (max-width: 992px) { 
    #nav-pc{
        display: none;
    }
    #nav-mobile{
        display: block;
        background-color: var(--bg-color-header-footer);
        color: var(--text-color-default)
    }
    #btnShowMenu{
        color: var(--text-color-default);
    }
    #nav-mobile > a > img{
        height: 10px;
    }
    #masthead{
        margin-top: 76px;
    }
    
 }