.feature-icon {
    color: var(--color-highlight);
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

#list-model h2 {
    color: var(--color-highlight);
}
#list-product h2 {
    color: var(--color-highlight);
}


/*category*/
.card-category {
    width: 100%;
    height: 300px;
    background: var(--bg-color-header-footer);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    justify-content: center;
}

.card-category img {
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.card-category::before {
    content: '';
    position: absolute;
    width: 150px;
    /* background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255)); */
    background-image: linear-gradient(180deg, #535252, #535252);
    height: 500%;
    animation: rotBGimg 6s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card-category::after {
    content: '';
    position: absolute;
    background: var(--bg-color-header-footer);
    inset: 2px;
    border-radius: 15px;
}

.card-category:hover::before {
    background-image: linear-gradient(180deg, var(--color-highlight), var(--color-highlight));
    /* width: 0px; */
    /* color: var(--color-highlight); */
    /* animation: rotBGimg 6s linear infinite; */
}

.card-category:hover::after {
    background: #1e1e1eb3;
}



/*list product*/
