<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>


    <link rel="stylesheet" href="./assets/css/demo2.css">
</head>

<body class="bg-color text-white">
    <div class="container-fluid">
        <div class="row gx-2">
            <div class="col-12 col-md-3 col-xl-2 mb-3 mb-md-0" style="height: 100%; cursor: default;">
                <div id="appSelectModel" class="h-4">
                    <h6 class="text-center mb-3 mt-2" style="color: #ccc; height: 30px;">MODEL</h6>
                    <div class="row g-1" style="font-size: 16px;overflow-y: auto;max-height: 400px;">
                        <div class="col-4 col-md-6 product">
                            <img class="mw-100 mh-100" src="./assets/images/products/1.webp" alt="" srcset="">
                        </div>
                        <div class="col-4 col-md-6 product">
                            <img class="mw-100 mh-100" src="./assets/images/products/2.webp" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="border-top my-3"></div>
                <div id="appBackground" class="h-47">
                    <div style="height: 80px;">
                        <h6 class="text-center mb-2 mt-2" style="color: #ccc;">BACKGROUND</h6>
                        <ul class="nav nav-pills mb-2 d-flex justify-content-between" id="pills-tab" role="tablist">
                            <li class="nav-item" style="width: 48%;" role="presentation">
                                <button style="font-size: 11px; letter-spacing: 1px;"
                                    class="w-100 nav-link active button-universe mt-1 mb-1" data-bs-toggle="pill"
                                    data-bs-target="#pills-background-image" type="button" role="tab"
                                    aria-controls="pills-background-image" aria-selected="false">Hình ảnh</button>
                            </li>
                            <li class="nav-item" style="width: 48%;" role="presentation">
                                <button style="font-size: 11px; letter-spacing: 1px;"
                                    class="w-100 nav-link button-universe mt-1 mb-1" data-bs-toggle="pill"
                                    data-bs-target="#pills-background-color" type="button" role="tab"
                                    aria-controls="pills-background-color" aria-selected="true">Đơn màu</button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content h-75 mh-75" id="pills-tabContent"
                        style="overflow-y: auto; max-height: 400px;">
                        <div class="tab-pane fade show active" id="pills-background-image" role="tabpanel">
                            <div class="form-check form-switch d-flex align-items-center justify-content-start p-0">
                                <input class="form-check-input mt-0 mx-0" type="checkbox" v-model="typeImage"
                                    id="stToanCanh" v-on:change="ChangeTypeImage()">
                                <label class="form-check-label mx-1" for="stToanCanh" style="font-size: 10px;">Toàn
                                    cảnh</label>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <input style="box-shadow: none;" type="text" class="form-control form-control-sm"
                                    placeholder="Tìm kiếm hình ảnh" aria-describedby="button-search-image-bg"
                                    v-model="querySearch" v-on:keyup.enter="SearchImages()">
                                <button class="btn btn-outline-primary" type="button" id="button-search-image-bg"
                                    v-on:click="SearchImages()">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                            <div class="row mt-2 w-100 justify-content-center mx-0">
                                <div v-if="loadingImage" class="d-flex justify-content-center align-items-center w-100"
                                    style="height: 100px;">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <img v-if="!loadingImage" style="max-width: 100%;" class="col-4 px-1 py-1 product"
                                    v-for="(url,index) in listImages" v-bind:src="url" v-bind:alt="index"
                                    v-on:click="ChangeImage(url)">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-background-color" role="tabpanel">
                            <input style="height: 100px;" type="color" class="form-control form-control-color w-100"
                                title="Chọn màu nền" v-on:input="ChangeBackground(0)" v-model="data.background">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 col-xl-8 p-3" style="height: 100vh;">
                <model-viewer id="model-main" class="w-100 h-100" alt=""
                    src="./assets/model-glb/cresent_witch_clothes.glb" ar shadow-intensity="1" camera-controls
                    disable-tap auto-rotate autoplay shadow-softness="0.1">
                </model-viewer>
            </div>
            <div class="col-12 col-md-3 col-xl-2 mt-3 mt-md-0" style="height: 100%;cursor: default;">
                <div class="h-100" style="z-index: 2; opacity: 0.8;">
                    <nav>
                        <div class="nav nav-tabs justify-content-between" id="nav-tab" role="tablist"
                            style="font-size: 0.9rem;">
                            <button class="nav-link active" id="nav-design-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-design" type="button" role="tab" aria-controls="nav-design"
                                aria-selected="true">Thiết kế</button>
                            <button class="nav-link" id="nav-share-tab" data-bs-toggle="tab" data-bs-target="#nav-share"
                                type="button" role="tab" aria-controls="nav-share" aria-selected="false">Chia
                                sẻ</button>
                            <button class="nav-link" id="nav-download-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-download" type="button" role="tab" aria-controls="nav-download"
                                aria-selected="false">Tải về</button>
                        </div>
                    </nav>
                    <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-design" role="tabpanel"
                            aria-labelledby="nav-design-tab">

                            <div class="flex-shrink-0 py-3 px-0 w-100" style="height: 750px; overflow-y: auto;">
                                <div id="app-select-position-model">
                                    <label for="selectPositionModel" class="form-label" style="font-size: 0.9rem;">Chọn
                                        bộ phận thao tác:</label>
                                    <select id="selectPositionModel" class="form-select" v-model="materialSelectedName"
                                        v-on:change="Select()">
                                        <option value="">Toàn bộ phận</option>
                                        <option v-for="mat in listMaterials" v-bind:value="mat.name">{{mat.name}}
                                        </option>
                                    </select>
                                    <div
                                        class="form-check form-switch d-flex align-items-center justify-content-end p-0 mt-1">
                                        <input class="form-check-input mt-0 mx-0" type="checkbox"
                                            v-model="isNotHidePositionOther" id="hideOther" v-on:change="Select()">
                                        <label class="form-check-label mx-1" for="hideOther"
                                            style="font-size: 10px;">Không ẩn bộ phận khác</label>
                                    </div>
                                </div>
                                <ul class="list-unstyled ps-0 mt-4">
                                    <li class="mb-3" id="select-color">
                                        <button class="btn btn-toggle align-items-center rounded collapsed"
                                            data-bs-toggle="collapse" data-bs-target="#color-collapse"
                                            aria-expanded="true">
                                            Màu sắc
                                        </button>
                                        <div class="collapse show mt-2" id="color-collapse"
                                            style="margin-left: 1.5rem; max-height: 300px; overflow-y: auto;">
                                            <div class="d-flex align-items-center">
                                                <input v-model="data.color" v-on:input="UpdateColor()" type="color"
                                                    class="form-control form-control-color w-25 product"
                                                    id="colorDesignInput">
                                                <label class="mx-2" style="font-size: 0.9rem;">Đơn màu</label>
                                            </div>
                                            <div class="border-top my-3"></div>
                                            <div>
                                                <div class="d-flex align-items-center">
                                                    <input hidden type="file" id="uploadImgColor" accept="image/*"
                                                        v-on:change="GetUrlFileUpload">
                                                    <label for="uploadImgColor" class="w-25" role="button">
                                                        <img v-bind:src="data.imageTexture" class="w-100 product"
                                                            style="border-radius: 5px;">
                                                    </label>
                                                    <label class="mx-2" style="font-size: 0.9rem;">Kết cấu màu từ
                                                        ảnh</label>
                                                </div>

                                                <div class="mt-3">
                                                    <div class="input-group input-group-sm mb-1">
                                                        <input style="box-shadow: none;" type="text"
                                                            class="form-control form-control-sm"
                                                            placeholder="Tìm kiếm hình ảnh"
                                                            aria-describedby="button-search-image-bg"
                                                            v-model="querySearch" v-on:keyup.enter="SearchImages()">
                                                        <button class="btn btn-outline-primary" type="button"
                                                            id="button-search-image-bg" v-on:click="SearchImages()">
                                                            <i class="fa-solid fa-magnifying-glass"></i>
                                                        </button>
                                                    </div>
                                                    <div class="row mt-2 w-100 justify-content-center mx-0">
                                                        <div v-if="loadingImage"
                                                            class="d-flex justify-content-center align-items-center w-100"
                                                            style="height: 100px;">
                                                            <div class="spinner-border" role="status">
                                                                <span class="visually-hidden">Loading...</span>
                                                            </div>
                                                        </div>
                                                        <img v-if="!loadingImage" style="max-width: 100%;"
                                                            class="col-4 px-1 py-1 product"
                                                            v-for="(url,index) in listImages" v-bind:src="url"
                                                            v-bind:alt="index" v-on:click="ChangeImage(url)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-3">
                                        <button class="btn btn-toggle align-items-center rounded collapsed"
                                            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
                                            aria-expanded="false">
                                            Dashboard
                                        </button>
                                        <div class="collapse" id="dashboard-collapse" style="margin-left: 1.5rem;">
                                        </div>
                                    </li>
                                    <li class="mb-3">
                                        <button class="btn btn-toggle align-items-center rounded collapsed"
                                            data-bs-toggle="collapse" data-bs-target="#orders-collapse"
                                            aria-expanded="false">
                                            Orders
                                        </button>
                                        <div class="collapse" id="orders-collapse" style="margin-left: 1.5rem;">
                                            <span>abc</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-share" role="tabpanel" aria-labelledby="nav-share-tab">...
                        </div>
                        <div class="tab-pane fade" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">
                            ...</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--vue2 development-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--vue2 production-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <script type="module">

        import { SearchImages } from './assets/js/search-image.js';
        // console.log(await SearchImages('cat', 10, 1));
        function hexToRgb(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
        }


        var appBackground = new Vue({
            el: "#appBackground",
            data: {
                model: {},
                data: {},
                querySearch: '',
                listImages: [],
                typeImage: false,
                loadingImage: true
            },
            methods: {
                init: async function () {
                    var self = this;

                    this.data.type = 0; //2-toàn cảnh, 1-hình ảnh, 0 đơn màu
                    this.data.background = 'transparent';

                    document.getElementById("model-main").addEventListener('load', (e) => {
                        self.model = e.target;
                        self.ChangeBackground(self.data.type);
                    });

                    await this.SearchImages();

                    this.$forceUpdate();
                },
                SearchImages: async function () {
                    var self = this;
                    self.loadingImage = true;
                    var images = await SearchImages(self.querySearch, 15, 1);
                    if (images.length > 0) {
                        self.listImages = images.map(e => `https://images.unsplash.com/${e.url.trim()}?auto=format&fit=crop&w=500&h=500`);
                    }
                    self.loadingImage = false;
                },
                ChangeBackground: function (type) {
                    var self = this;

                    if (type == 2) self.data.type = 2;
                    else if (type == 1) self.data.type = 1;
                    else self.data.type = 0;

                    if (self.data.type == 0 && self.data.background) {
                        self.model.removeAttribute('skybox-image');
                        self.model.style.backgroundImage = 'none';
                        self.model.style.backgroundColor = self.data.background;
                    }
                    else if (self.data.type == 1 && self.data.background) {
                        self.model.removeAttribute('skybox-image');
                        self.model.style.backgroundImage = `url('${self.data.background}')`;
                        self.model.style.backgroundColor = 'transparent';
                    }
                    else if (self.data.type == 2 && self.data.background) {
                        self.model.setAttribute('skybox-image', self.data.background);
                        self.model.style.backgroundImage = 'none';
                        self.model.style.backgroundColor = 'transparent';
                    }
                    else {
                        self.model.removeAttribute('skybox-image');
                        self.model.style.backgroundImage = 'none';
                        self.model.style.backgroundColor = 'transparent';
                    }
                },
                ChangeImage: function (url) {
                    this.data.background = url;
                    this.ChangeTypeImage();
                },
                ChangeTypeImage: function () {
                    var type = this.typeImage == true ? 2 : 1;
                    this.ChangeBackground(type);
                }


            },
            mounted() {
                this.init();
            },
        });

        //app select chưa giải quyến vấn đề back lại màu đã bị thay đổi của obj
        var appSelect = new Vue({
            el: "#app-select-position-model",
            data: {
                model: {},
                listMaterials: [],
                materialSelectedName: "",
                isNotHidePositionOther: false,
                color: {
                    r: 1,
                    g: 1,
                    b: 1
                }
            },
            methods: {
                init: async function () {
                    var self = this;

                    document.getElementById("model-main").addEventListener('load', (e) => {
                        self.model = e.target;
                        self.listMaterials = self.model.model.materials;
                        self.listMaterials[0].name = "Thân áo";
                        self.listMaterials[1].name = "Khuy ôm bụng";
                    });

                    this.$forceUpdate();
                },
                Select: function () {
                    var self = this;
                    if (!self.materialSelectedName || self.isNotHidePositionOther) {
                        //set tất cả material của model về màu mặc định
                        for (var m of self.listMaterials) {
                            m.setAlphaMode("OPAQUE");
                            m.pbrMetallicRoughness.setBaseColorFactor([self.color.r, self.color.g, self.color.b, 1]);
                        }
                        return;
                    }

                    for (var m of self.listMaterials) {
                        if (m.name != self.materialSelectedName) {
                            m.setAlphaMode("BLEND");
                            m.pbrMetallicRoughness.setBaseColorFactor([self.color.r, self.color.g, self.color.b, 0.05]);
                        }
                        else {
                            m.setAlphaMode("OPAQUE");
                            m.pbrMetallicRoughness.setBaseColorFactor([self.color.r, self.color.g, self.color.b, 1]);
                        }
                    }

                    console.log(self.materialSelectedName)
                }


            },
            mounted() {
                this.init();
            },
        });

        var appSelectColor = new Vue({
            el: "#select-color",
            data: {
                data: {},
                querySearch: '',
                listImages: [],
                loadingImage: true,
            },
            methods: {
                init: async function () {
                    var self = this;

                    this.data.imageTexture = "./assets/images/none.svg";
                    this.data.color = '';

                    await this.SearchImages();

                    this.$forceUpdate();
                },
                SearchImages: async function () {
                    var self = this;
                    self.loadingImage = true;
                    var images = await SearchImages(self.querySearch, 15, 1);
                    if (images.length > 0) {
                        self.listImages = images.map(e => `https://images.unsplash.com/${e.url.trim()}?auto=format&fit=crop&w=500&h=500`);
                    }
                    self.loadingImage = false;
                },
                UpdateColor: function () {
                    let color = hexToRgb(this.data.color);
                    appSelect.color.r = color.r;
                    appSelect.color.g = color.g;
                    appSelect.color.b = color.b;



                    if (!appSelect.materialSelectedName) {
                        for (var m of appSelect.listMaterials) {
                            m.pbrMetallicRoughness.setBaseColorFactor(this.data.color);
                        }
                    }
                    else {
                        var mat = appSelect.listMaterials.find(e => e.name == appSelect.materialSelectedName);
                        mat.pbrMetallicRoughness.setBaseColorFactor(this.data.color);
                    }
                    
                    console.log(this.data.color)
                    console.log(appSelect.color)
                    console.log(appSelect.model.model)
                },
                ChangeImage: function (url) {
                    this.data.imageTexture = url;
                    console.log(this.data.imageTexture);
                    this.$forceUpdate();

                },
                GetUrlFileUpload: function (e) {
                    var self = this;
                    let file = e.target.files[0];
                    if (file && file['type'].split('/')[0] === 'image') {
                        let url = URL.createObjectURL(file);
                        self.ChangeImage(url);
                    }
                }


            },
            mounted() {
                this.init();
            },
        });
    </script>



</body>

</html>