:root {
    --bg-color-main: #282828;
    --bg-color-header-footer: #1e1e1e;
    --text-color-default: #ffffff;
    --text-color-menu-item: #e7e0e5;
}

body {
    background-color: var(--bg-color-main);
    width: 100%;
    height: 100%;
}

#header {
    background-color: var(--bg-color-header-footer);
}

#footer {
    background-color: var(--bg-color-header-footer);
}

.bi-xl {
    font-size: 25px;
}

.bi-md {
    font-size: 20px;
}

.bi-sm {
    font-size: 15px;
}
img{
    max-width: 100%;
}