:root {
    --bg-color-main: #282828;
    --bg-color-header-footer: #1e1e1e;
    --text-color-default: #ffffff;
    --text-color-menu-item: #e7e0e5;
    --color-highlight: #ffd21e;
}

body {
    background-color: var(--bg-color-main);
    width: 100%;
    height: 100%;
}

#header {
    background-color: var(--bg-color-header-footer);
}

#footer {
    background-color: var(--bg-color-header-footer);
}

.bi-xxxl {
    font-size: 35px;
}

.bi-xxl {
    font-size: 30px;
}

.bi-xl {
    font-size: 25px;
}

.bi-md {
    font-size: 20px;
}

.bi-sm {
    font-size: 15px;
}
img{
    max-width: 100%;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color-menu-item);
}
a:hover{
    color: var(--color-highlight);
}
.btn:first-child:active{
    border-color: transparent;
}
main{
    background-color: var(--bg-color-main);
}

/* button show vr cá»§a aframe */
.a-enter-vr-button{
    z-index: 5;
}
.a-enter-vr-button:hover{
    background-color: var(--color-highlight);
}

@media (max-width: 992px) { 

}